html{
  background: #e0e5ec;
}
#body{
    background: #e0e5ec;
}
#main{
    justify-content: center;
    align-items: center;
}
.pic{
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 25px;
    float: left;
}
#email{
    border-radius: 15px;
    border: none;
    width: 350px;
    height: 40px;
    margin-right: 2px;
    font-family: "Times New Roman", serif;
}
#submit{
    border-radius: 15px;
    border: none;
    width: 90px;
    height: 40px;
    background: #60BE8D;
    color: #ffffff;
    font-family: "Comic Sans MS", cursive;
}
#submit:hover{
 background: #FFBCC0;
    color: #ffffff;
    box-shadow: 2px 5px 4px 0px #74777a;
}
.info{
    float: right;
    width: 1020px;
    margin: 20px;
    background: rgba(172, 255, 225, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(231, 255, 247, 0.3);
    padding: 30px;
}
#menu{
     max-height: 120vh;
}
#email::placeholder {
    padding-left: 6px;
    font-family: "Comic Sans MS", cursive;
}
#main p{
    font-family: "Times New Roman", serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size:23px;
    color:  #2b4246;
}
/*Shrinking for mobile*/
@media (max-width: 788px) {
  .info{
      width: 350px;
  }
    #main p{
        font-size: 18px;
    }
    .pic{
        display: none;
    }
    #email{
        width: 210px;
        font-size: 15px;
    }
    #submit{
        width: 55px;
        font-size: 13px;
    }
    #menu{
        max-height: 170vh;
    }

}