<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-AQMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/mainStyle.css">
    <link rel="stylesheet" href="../static/showStyle.css">
    <script>
    // This event listener waits for the HTML document to be fully loaded and parsed
    document.addEventListener('DOMContentLoaded', function() {
        // Get the value of the 'message' element
        const message = document.getElementById('message').value;

        // If the value of 'message' is 'success', alert the user that data was saved successfully
        if (message === 'success') {
            alert('Data saved successfully!');
        }
        // If the value of 'message' is 'fail', alert the user that the email already exists
        else if(message === 'fail'){
            alert('Email Already Exists!');
        }

    });
    </script>

</head>
<body id="body">
    <div id="headerTop" >
        <div class="header ">
            <div class="navigation">
            <nav role="navigation">
        <div id="menuToggle">
        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

                    <ul id="menu">
                      <a href="/"><li>Home</li></a>
                      <a href="/show"><li>Show Info</li></a>
                    </ul>
                </div>
            </nav>
        </div>
            <!--Content before waves-->
            <div class="inner-header flex">
                <h1 id="title" >Eco Air Quality Monitoring System</h1>
            </div>

        <!--Waves Container-->
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(224, 229, 236,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(224, 229, 236,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(224, 229, 236,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#e0e5ec" />
                    </g>
                </svg>
            </div>
    <!--Waves end-->
        </div>
    </div>

<div id="main">
    <div>
        <img class="pic" src="../static/resources/planet-earth.png" alt="eco earth image" width="290px" height="290px">
    </div>
    <div class="info">
        <p>Our Program About Eco-Air-Quality-Management-System (E-AQMS): A cost-efficient, robust outdoor air quality monitoring solution.
            Real-time data collection and display to mitigate airborne pollutant health risks. An eco-friendly initiative promoting
            sustainability and fostering greater environmental awareness. Join us in making a healthier planet :D</p>
            <form id="emailForm" action="/saveemail" method="POST">
            <p style="color: #60BE8D">To receive notifications, kindly provide your Gmail account:</p>
                <label>
                    <input name="email" id="email" type="email" placeholder="Gmail Address" required/>
                    <input type="hidden" id="message" value="{{ message }}">
                    <input id="submit" type="submit" value="SEND" onsubmit="">
                </label>
        </form>
    </div>
</div>
<div id="footer" style="background: #e0e5ec;">
    <div class="py-4">
      <div class="container text-center" >
        <p class="text-muted mb-0 ">"The future will either be green or not at all."</p>
      </div>
      <div class="container text-center" >
        <p class="text-muted mb-0 ">© 2023 Eco-Air Quality Monitoring System.</p>
      </div>
    </div>
</div>

<script>
    // Add event listener for 'submit' event on the form with id 'emailForm'
    document.getElementById('emailForm').addEventListener('submit', function (event) {
        // Get the email input field
        const emailInput = document.getElementById('email');
        // Get the value of the email input field
        const emailValue = emailInput.value;
        // Check if the entered email is not a Gmail
        if (!isGmailAddress(emailValue)) {
            // If it's not, prevent the form from submitting
            event.preventDefault();
            // Alert the user to enter a Gmail address
            alert('Please enter a Gmail address.');
        }

    });

    //
    function isGmailAddress(email) {
        // Regular expression to check if an email is a Gmail address
        const gmailPattern = /^[a-zA-Z0-9._%+-]+@gmail\.com$/;
        // Test if the email matches either of the patterns
        return gmailPattern.test(email) ;
    }
</script>
</body>
</html>